Repository jawee/docker-image-update-system: changes, and which Jenkins stages are due for each by the changed paths.
All: api ci, fe ci

api ci:
            steps {
              catchError {
                load "api/Jenkinsfile"
              }
            }
          

fe ci:
            steps {
              catchError {
                load "fe/Jenkinsfile"
              }
            }
          

api: test commit
  api/src/main.ts
Due: api ci

test: Jenkinsfile
  Jenkinsfile
Due: none

test: Jenkinsfiles
  Jenkinsfile
  api/Jenkinsfile
  fe/Jenkinsfile
Due: api ci, fe ci

test: Jenkinsfile
  api/Jenkinsfile
  fe/Jenkinsfile
Due: api ci, fe ci

Jenkinsfile worker
  Jenkinsfile
  worker/Jenkinsfile
Due: none

worker: Test
  worker/src/main.ts
Due: none

worker: feat(ts-node) Added ts-node
  worker/src/package-lock.json
  worker/src/package.json
Due: none

fe: no idea
  fe/package-lock.json
Due: fe ci

worker: feat(jenkinsfile)
  worker/Jenkinsfile
Due: none

Jenkinsfile
  Jenkinsfile
Due: none

worker: test
  worker/src/main.ts
Due: none

api: feat(delete image)
  api/src/controllers/docker-image-controller.ts
  api/src/server.ts
  api/src/services/docker-image-service.ts
Due: api ci

fe: feat(delete image)
  fe/src/components/docker-image-details/DockerImageDetails.tsx
Due: fe ci

tmux-session configs
  tmux-config.json
  tmux-nvim-config.json
Due: none

worker: feat(added repository clients)
  worker/src/main.ts
  worker/src/repository-clients/dockerhub-client.ts
  worker/src/repository-clients/github-client.ts
  worker/src/repository-clients/irepositoryclient.ts
  worker/src/worker.ts
Due: none

worker: fix(main.ts) Fixed unused import, that failed
  worker/src/main.ts
Due: none

worker: feat(worker class) APIClient to handle calls to the internal api
  worker/src/internal-client.ts
  worker/src/main.ts
  worker/src/models/docker-image.ts
  worker/src/package-lock.json
  worker/src/package.json
  worker/src/worker.ts
Due: none

worker: feat(worker) Began handling. Can call internal and external api
  worker/src/main.ts
  worker/src/worker.ts
Due: none

worker: feat(get images to be updated) Implemented basic version
  worker/src/worker.ts
Due: none

worker: feat(discord notifications) Added dotenv Sends notifications to discord
  worker/src/main.ts
  worker/src/package-lock.json
  worker/src/package.json
  worker/src/worker.ts
Due: none

worker: feat(update images)
  worker/src/worker.ts
Due: none

worker: refactor(discord-client) Extracted discord code to DiscordClient
  worker/src/discord-client.ts
  worker/src/worker.ts
Due: none

worker: refactor(restructure project) Moved package.json etc. out to root dir
  worker/package-lock.json
  worker/package.json
  worker/tsconfig.json
  worker/tslint.json
Due: none

api: refactor(restructure project) Moved package.json and database to root dir
  api/.gitignore
  api/README.md
  api/database.sqlite
  api/ormconfig.json
  api/package-lock.json
  api/package.json
  api/src/README.md
  api/src/database.sqlite
  api/tsconfig.json
Due: api ci

api: refactor(Jenkinsfile) Changed jenkinsfile to handle new project structure
  api/Jenkinsfile
Due: api ci

worker: refactor(Jenkinsfile) Changed jenkinsfile to handle new project structure
  worker/Jenkinsfile
Due: none

refactor(tmux-sessions) Changed to handle new project structure
  tmux-config.json
  tmux-nvim-config.json
Due: none

api: feat(oauth) Created controllers and models (entities)
  api/database.sqlite
  api/src/controllers/authorization-controller.ts
  api/src/controllers/token-controller.ts
  api/src/entities/ClientCredential.ts
  api/src/entities/Token.ts
Due: api ci

repo: feat(ubuntu) tmux nvim config for tmux-session for ubuntu desktop
  ubuntu-tmux-nvim-config.json
Due: none

feat(oauth-server): Initial commit
  api/package-lock.json
  api/package.json
  api/src/controllers/authorization-controller.ts
  api/src/controllers/token-controller.ts
  api/src/entities/Token.ts
  api/src/repositories/client-credentials-repository.ts
  api/src/repositories/token-repository.ts
  api/src/services/client-credential-service.ts
Due: api ci

Path conditions:
  api ci: any of: api/**
  fe ci: any of: fe/**
